name: Deploy to CloudHub 2.0

on:
  push:
    branches:
      - develop
    tags:
      - "v*.*.*"

  pull_request:
    branches: [main, develop]
    types:
      - closed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      
      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 8

      - name: Deploy to CloudHub
        env:
          DEPLOY_ENV: ${{ github.ref_name == 'develop' && 'Sandbox' || 'Design' }}
          APP_SUFFIX: ${{ github.ref_name == 'develop' && '-dev' || '' }}
        run: |
          mvn deploy --settings .maven/settings.xml -DskipMunitTests -DmuleDeploy \
          -Denvironment="$DEPLOY_ENV" \
          -DappNameSuffix="$APP_SUFFIX" \
          -Denvironment="$DEPLOY_ENV" \
          -DclientId="${{ secrets.CONNECTED_APP_CLIENT_ID }}" \
          -DclientSecret="${{ secrets.CONNECTED_APP_CLIENT_SECRET }}"
