name: Deploy to CloudHub 2.0

on:
  pull_request:
    branches:
      - develop
      - main
    types:
      - closed

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Sandbox' }}
    env:
      DEPLOY_ENV: ${{ github.ref == 'refs/heads/main' && 'Production' || 'Sandbox' }}
      CLIENT_ID: ${{ secrets.CONNECTED_APP_CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CONNECTED_APP_CLIENT_SECRET }}

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      - name: Deploy to CloudHub
        run: |
          mvn deploy --settings .maven/settings.xml -DskipMunitTests -DmuleDeploy \
          -Denvironment=$DEPLOY_ENV \
          -DclientId=$CLIENT_ID\
          -DclientSecret=$CLIENT_SECRET
    
    