name: Deploy to CloudHub 2.0

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      
      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 8

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to CloudHub
        env:
          USERNAME: ${{ secrets.ANYPOINT_PLATFORM_USERNAME }}
          PASSWORD: ${{ secrets.ANYPOINT_PLATFORM_PASSWORD }}
        run: |
          mvn deploy --settings .maven/settings.xml -DskipMunitTests -DmuleDeploy \
          -Danypoint.username="$USERNAME" \
          -Danypoint.password="$PASSWORD"
